language: c

sudo: false

os:
  - linux
  - osx

env:
  global:
    # Pin freetype to 2.5.5 to keep image tests consistent
    - CONDA_DEPENDENCIES="numpy matplotlib freetype=2.5.5 mock"
    - PIP_DEPENDENCIES="pytest-mpl fast-histogram coveralls pytest-cov"
    - SETUP_XVFB=true
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.4
    - PYTHON_VERSION=3.5
    - PYTHON_VERSION=3.6

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh

script:
  - python setup.py check --restructuredtext
  - pytest mpl_scatter_density --mpl -p no:warnings --cov mpl_scatter_density

after_success:
  - coveralls
